[submodule "minizip"]
	path = minizip
	url = https://github.com/Lecrapouille/minizip.git
	branch = master

[submodule "zlib"]
	path = zlib
	url = https://github.com/Togtja/zlib
	branch = optional_zconf_rename
