environment:
  matrix:
    - MSYS2_ARCH: x86_64
      MSYSTEM: MINGW64
#    - MSYS2_ARCH: i686
#      MSYSTEM: MINGW32

clone_depth: 1
branches:
  only:
    - master
    - develop

install:
  - set PATH=C:\msys64\usr\bin;%PATH%
  # Fix appveyor not git cloning recursively
  - cd %APPVEYOR_BUILD_FOLDER%
  - git submodule update --init --recursive
  # Download new keyring until appveyor updates its installation
  - bash -lc "curl -O http://repo.msys2.org/msys/x86_64/msys2-keyring-r21.b39fb11-1-any.pkg.tar.xz"
  - bash -lc "curl -O http://repo.msys2.org/msys/x86_64/msys2-keyring-r21.b39fb11-1-any.pkg.tar.xz.sig"
  - bash -lc "pacman-key --verify msys2-keyring-r21.b39fb11-1-any.pkg.tar.xz.sig"
  - bash -lc "pacman -U msys2-keyring-r21.b39fb11-1-any.pkg.tar.xz --noconfirm"
  - bash -lc "pacman --needed --noconfirm -Syu"
  # This is needed because without killing all processes -Su will fail
  - ps: Get-Process | Where-Object {$_.path -like 'C:\msys64*'} | Stop-Process
  - bash -lc "pacman --needed --noconfirm -Su"

before_build:
  - C:\msys64\usr\bin\pacman --noconfirm --sync --refresh pacman
  - C:\msys64\usr\bin\pacman --noconfirm --sync --refresh git
  - C:\msys64\usr\bin\bash -lc "$(cygpath ${APPVEYOR_BUILD_FOLDER})/.integration/appveyor-install-window.sh"

build_script:
  - C:\msys64\usr\bin\bash -lc "$(cygpath ${APPVEYOR_BUILD_FOLDER})/.integration/appveyor-launch_tests.sh"
